@import "/UI/_Common.scss";

.Title {
    top: 6%;
    font-family: 'Dream MMA'; //'Deutsch Gothic'
    text-align: center;
    font-size: 100px;
    padding: 10px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-stroke: 3px black;
}

.TitleDead {
    top: 6%;
    font-family: 'Dream MMA'; //'Deutsch Gothic'
    text-align: center;
    font-size: 100px;
    padding: 10px;
    color: red;
    margin-left: auto;
    margin-right: auto;
    text-stroke: 3px black;
}